/*
hr.star-primary {
    border-color: #3bb2d0;
}

hr.star-primary:after {
    color: #3bb2d0;
    background-color: #fff;
}
*/

header {
    text-align: center;
    color: #fff;
    background: #3bb2d0;
}

hr.star-light:after {
    color: #fff;
    background-color: #3bb2d0;
}

a.active {
    outline: 0;
    color: #3bb2d0;
}

section.success {
    color: #fff;
    background: #3bb2d0;
}


section h2 {
    margin: 0;
    font-size: 2em;
}


header .intro-text .name {
    font-size: 2em;
}

@media(min-width:768px) {
    header .intro-text .name {
        font-size: 3em;
    }
}

@media(min-width:768px) {
    header .container {
        padding-top: 170px;
        padding-bottom: 70px;
    }